body {
    background-color: #1E2225;
    font-family: Ubuntu;
}

h1 {
color: white;
text-align: center;
}

text {
    font: Ubuntu Monospace;
    color: #87A0B2;
    font-size: 15px;
    margin: 50px;
}

a {
  color: #CB56DF;
}
