/** Nav bar*/
navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
navbutton {
    float: left;
    font: Ubuntu Monospace;
    font-size: 20px;
}
navbutton a {
    color: #A7CACA;
    display: block;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}
navbutton a:hover {
    color: white;
}

/** Notification */
notice {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    background: red;
    text-align: center;
    line-height: 2.5;
    overflow: hidden;
}
notice .close {
    display: none;
}
/** display close on hover*/
notice:hover .alert{
    display: none;
}
notice:hover .close {
    display: inline;
}

/** underlining on hover */

