html {
  background-color: #323031;
  color: #A89b8c;
  font-family: 'Courier New', monospace;
  font-size: 16px;
}

a {
  color: #F4D58D;
}

section {
  background: linear-gradient(left, black, white) no-repeat 50px 50px;
  margin-left: 5%;
}
