html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #1D201F;
  color: #EAD2AC;
  font-family: 'Source Code Pro', monospace;
  width: 60%;
  margin: auto;
  align: center;
  padding-top: 2%;
}

a {
  color: #DF928E;
}

header {
  padding-bottom: 0.4rem;
  border-bottom: 0.2rem solid #544B3D;
  font-size: 1.4rem; 
  color: #BABF95;
}

authors { 
  text-align: center;
  font-size: 1.4rem; 
  color: #7B6B43;
}

h1 {
  text-align: center;
  font-size: 2.8rem;
}
h2 {
  text-align: center;
  font-size: 2.4rem;
}
h3 {
  text-align: center;
  font-size: 2rem;
}

.sectionlist h3 {
  text-align: left; 
  color: #7B6B43;
}
.sectionlist {
  color: #806443;
  margin-left: 10%;
}

nav a {
  font-size: 1.8rem;
  font-weight: bold;
  color: #FAEDCA;
  text-decoration: none; 
}

footer {
  margin-top: 3rem;
  padding: 1.2rem 0;
  border-top: 0.2rem solid #544B3D;
  font-size: 1.2rem;
  color: #BABF95;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}
pub {
  font-size:1.4rem;
  font-style:italic;
  color:#BABF95;
}


.logo a {
 font-weight:bold;
 color:#BABF95;
 text-decoration:none
}
