<!DOCTYPE html>
<html>
  <head>
    <title>#$file$.$ext$#</title>
    <!-- latex -->
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <!-- style -->
    <link rel="stylesheet" href="style/default.css" />
  </head>
  <body>
    <header>
      <nav>
      <home><a href="index.html">~/</a></home>
      <back><a href="../">../</a></back>
      <op><a href="https://notu.dev/notes/op.html">!op</a></op>
      </nav>
    </header>
    <h1>#$heading$#</h1>
    <p>%</p>
    <ul class="post-index">
      @heading:#<li class="tag"><a href="https://notu.dev/notes/$file$.html">$heading$</a></li>#@
    </ul>
  </body>
</html>
