body {
  display: table;
  margin-left: auto;
  margin-right: auto;

  font-size: 140%;
  font-family: cursive;

  background: #70798c; 
  color: #dad2bc;
}
h1 {
  color: #a99985;
}
a {
  color: #f5f1ed;
}
