body {
  display: table;
  margin-left: 30%;
  margin-right: 30%;

  font-size: 140%;
 
  background: #282828; 
  color: #ebdbb2;
}

h1 {color: #a99985}
a {color: #f5f1ed}
ul {list-style-type: square}
